<body>
	<img src="images/tweetybird.png" class="bird"/>
	<img src="images/sylvester.gif" height="360" class="sly"/>
	<p id="param">"I tawt I taw a puddy tat!"</p>
	<p id="params">Sylvester says your username or password is wrong</p>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/main.js"></script>
</body>