<h1>Welcome, <%= @user.fname %>!</h1>

<div id="right_column">
	<div id="profile_photo">
		<img src="">
	</div>
	<div id="link_box">
		<a href="/account" class="link_box">Account Settings</a>
		<a href="/following" class="link_box">Following</a>	
		<a href="/new-post">Create a New Twit</a>
	</div>
</div>

<div id="feed_box">
	<ul id="twit_feed">
		<li>This is where I will call in the last 10 posts </li>
	</ul>
</div>
