<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='https://fonts.googleapis.com/css?family=Lobster|Roboto:400,400italic' rel='stylesheet' type='text/css'>
</head>

<body>
	<nav>
		<ul>
			<li class="navlist"><a href="/home" class="navbar">Home</a></li>
			<li class="navlist"><a href="/profile/:id" class="navbar">My Profile</a></li>
			<li class="navlist"><a href="/logout" class="navbar">Logout</a></li>
		</ul>
	</nav>

	<% if flash[:notice] %>
		<div class="flash_notice">
			<%= flash[:notice] %>
		</div>
	<% end %>


<%= yield %>
</body>