<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<nav>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/profile/:id">My Profile</a></li>
			<li><a href="/following">Following</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</nav>

	<% if flash[:notice] %>
		<div class="flash_notice">
			<%= flash[:notice] %>
		</div>
	<% end %>


<%= yield %>
</body>