<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<a href="/logout">Logout</a>

	<% if flash[:notice] %>
		<div class="flash_notice">
			<%= flash[:notice] %>
		</div>
	<% end %>

<%= yield %>
</body>