/*sign-in/up page*/


/*user_home page*/
#feed_box{
	width: 700px;
	height: 500px;
	border: 1px solid black;
	float: left;
	margin-top: -308px;
	margin-left: 400px;
}
#profile_photo{
	width: 200px;
	height: 250px;
	border: 1px solid black;
	margin-bottom: 20px;
}
#right_column{
	margin-left: 50px;
}

.link_box{
	display: block;
}

/*profile page*/


/*following page*/


/*account page*/


/*new_post page*/
h2{
	/*display: block;*/

	margin: 20px;
	font-size: 30px;
}

#post{
	margin: 22px;
	width: 300px;
}

.title{
	margin-bottom: 10px;
	margin-top: 7px;
	padding: 0.2em 12.3em;

}

input.title{
	padding: 5px;
	width: 400px;
}

.twitText{
	height: 250px;
	margin-bottom: 8px;
	width: 400px;
}